
.alpaca-hover {
}

.alpaca-clear {
    clear: both;
}

/**
 *  Control Field
 */
.alpaca-controlfield {
    display: block;    
}


.alpaca-controlfield-container {
    display: block;    
}

.alpaca-controlfield-helper {
    font-size: 0.75em;
    margin-top: 2px;
}

.alpaca-controlfield-message {
    font-size: 0.85em;
}

.alpaca-controlfield-message-hidden {
    display: none;
}

/**
 * Form Controls
 */

input[type="checkbox"], input[type="radio"] {
    border: 0px;
}

input[type="file"] {
    border: none;
    box-shadow: none;
}

.alpaca-controlfield-file-custom-input {
    position: absolute;
    height: 100px;
    cursor: pointer;
    background: transparent;
    border: 0;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 0);
    z-index: 999;
}

/* BEGIN styles for Hidden Field */
.alpaca-controlfield-hidden {
    display: none;
}
/* END styles for Hidden Field */

/* BEGIN styles for Container Field (Fieldset) */

.alpaca-fieldset {
    padding: 4px;
    margin: 4px;
    overflow: auto;
    position: relative;
}

fieldset.alpaca-fieldset {    
    margin-top: 0.5em;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0.5em;
}

/* BEGIN styles for VIEW: DISPLAY */

div.alpaca-fieldset {
    display: block;
    border: none;
    margin: 1.5em 1em 1em 0px;
}
/* END styles for VIEW: DISPLAY */
