
/*================  BEGIN T3FORM  =================*/

#ui-datepicker-div { display: none; } 
.noTitleStuff .ui-dialog-titlebar {display:none} 

/*post to server popup*/
div.t3flPostToServerAnimation{ text-align:center; } 
div.t3flPostToServerAnimation 
div.t3flAnimationTop{ font-size:1.1em; line-height:150%; } 
div.t3flPostToServerAnimation 
div.t3flAnimationDescription{ font-size:0.9em; line-height:150%; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9; } 
div.t3flPostToServerAnimation 
div.t3flAnimationImg{ padding:20px 0px 10px 0px; } 
div.t3flPostToServerAnimation 
div.t3flAnimationIMPORTANT{ font-size:1.8em; color:#D00; line-height:200%; } 
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.clearfix { display: inline-block; } 
html[xmlns] .clearfix { display: block; } 
* html .clearfix { height: 1%; } 

/*""I agree..."" text*/
a.t3flHelp div.t3flCheckExapmle{ position:absolute; } 
a.t3flHelp div.t3flCheckExapmle 
img{ position:static; border:0px; margin-left:0px; } 
a.t3flHelp div.t3flCheckExapmle div{ display:block; position:relative; text-align:center; top:-200px; left:0px; border:#06C solid 1px; background:#DAE4EB; width:210px; 
		      white-space:normal; font-weight:normal; font-size:0.9em; font-family:Tahoma, Geneva, sans-serif; height:175px; padding:5px; text-shadow:0px 0px 3px #FFF; 
		      background-color: #DAE4EB; background-color: rgba(218, 228, 235, 0.9); /* FF3+, Saf3+, Opera 10.10+, Chrome */ 
		      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBDAE4EB',endColorstr='#BBDAE4EB'); /* IE6,IE7 */ 
		      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBDAE4EB',endColorstr='#BBDAE4EB'); /* IE8 */ 
		      -moz-border-radius: 7px 7px 12px 12px; /* FF1+ */ -webkit-border-radius: 7px 12px 12px 7px; /* Saf3+, Chrome */ 
		      border-radius: 7px 12px 12px 7px; /* Opera 10.5, IE 9 */ } 
a.t3flHelp div.t3flCheckExapmle div input{ width:auto; font-size:0.9em; } 
#consent_title{ display: inline-block; border-radius: 10px; } #consent_title.error{ background: #FF8080; }

/*================ END T3FORM ================ */


/*================ VARIOUS JQUERY UI STYLES ================ */
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
* html .ui-helper-clearfix { height:1%; } 
.ui-helper-clearfix { display:block; } /* end clearfix */ 
/* Interaction Cues ----------------------------------*/ 
.ui-state-disabled { cursor: default !important; } 
/* Icons ----------------------------------*/ 
/* states and https://account.t3leads.com/img/datepicker */ 
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; float: left; clear:right;} 
/* Misc visuals ----------------------------------*/ 
/* Overlays */ 
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/* Accordion ----------------------------------*/ 
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; } 
.ui-accordion .ui-accordion-li-fix { display: inline; } 
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; } 
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em 2.2em; } 
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; } 
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; } 
.ui-accordion .ui-accordion-content-active { display: block; }

/*import was here*/

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

.ui-autocomplete {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
float: left;
display: none;
min-width: 160px;
_width: 160px;
padding: 4px 0;
margin: 2px 0 0 0;
list-style: none;
background-color: #ffffff;
border-color: #ccc;
border-color: rgba(0, 0, 0, 0.2);
border-style: solid;
border-width: 1px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
*border-right-width: 2px;
*border-bottom-width: 2px;
 
.ui-menu-item > a.ui-corner-all {
display: block;
padding: 3px 15px;
clear: both;
font-weight: normal;
line-height: 18px;
color: #555555;
white-space: nowrap;
 
&.ui-state-hover, &.ui-state-active {
color: #ffffff;
text-decoration: none;
background-color: #0088cc;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
background-image: none;
}
}
}

/* Datepicker ----------------------------------*/ 
.ui-datepicker { width: 17em; padding: .2em .2em 0; } 
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; } 
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; } 
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; } 
.ui-datepicker .ui-datepicker-prev { left:2px; } 
.ui-datepicker .ui-datepicker-next { right:2px; } 
.ui-datepicker .ui-datepicker-prev-hover { left:1px; } 
.ui-datepicker .ui-datepicker-next-hover { right:1px; } 
.ui-datepicker .ui-datepicker-prev span, 
.ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px; } 
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; } 
.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; } 
.ui-datepicker select.ui-datepicker-month-year {width: 100%;} 
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { width: 49%;} 
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; } 
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; } 
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0; } 
.ui-datepicker td { border: 0; padding: 1px; } 
.ui-datepicker td span, 
.ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; } 
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; } 
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; } 
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; } /* with multiple calendars */ 
.ui-datepicker.ui-datepicker-multi { width:auto; } 
.ui-datepicker-multi .ui-datepicker-group { float:left; } 
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; } 
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; } 
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; } 
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; } 
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; } 
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; } 
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; } 
.ui-datepicker-row-break { clear:both; width:100%; } 
/* RTL support */ .ui-datepicker-rtl { direction: rtl; } 
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; } 
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; } 
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; } 
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; } 
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; } 
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; } 
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; } 
.ui-datepicker-rtl .ui-datepicker-group { float:right; } 
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; } 
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; } 
/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */ 
.ui-datepicker-cover { display: none; /*sorry for IE5*/ display/**/: block; /*sorry for IE5*/ position: absolute; /*must have*/ z-index: -1; 
		      /*must have*/ filter: mask(); /*must have*/ top: -4px; /*must have*/ left: -4px; /*must have*/ width: 200px; /*must have*/ 
		      height: 200px; /*must have*/ }
/* Dialog ----------------------------------*/ 
.ui-dialog { position: relative; padding: .2em; width: 300px; } 
.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; position: relative; } 
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; } 
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; } 
.ui-dialog .ui-dialog-titlebar-close:hover, 
.ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; } 
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; } 
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; } 
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; } 
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; } 
.ui-draggable .ui-dialog-titlebar { cursor: move; } 
/* Progressbar ----------------------------------*/ 
.ui-progressbar { height:2em; text-align: left; } 
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }/* Resizable ----------------------------------*/ 
.ui-resizable { position: relative;} 
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;} 
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; } 
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; } 
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; } 
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; } 
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; } 
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; } 
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; } 
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; } 
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
/* Slider ----------------------------------*/ 
.ui-slider { position: relative; text-align: left; } 
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; } 
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; } 
.ui-slider-horizontal { height: .8em; } 
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; } 
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; } 
.ui-slider-horizontal .ui-slider-range-min { left: 0; } 
.ui-slider-horizontal .ui-slider-range-max { right: 0; } 
.ui-slider-vertical { width: .8em; height: 100px; } 
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; } 
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; } 
.ui-slider-vertical .ui-slider-range-min { bottom: 0; } .ui-slider-vertical .ui-slider-range-max { top: 0; }/* Tabs ----------------------------------*/ 
.ui-tabs { padding: .2em; zoom: 1; } .ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; } .ui-tabs 
.ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; } .ui-tabs 
.ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; } .ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; } 
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; } 
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */ 
.ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; } .ui-tabs .ui-tabs-hide { display: none !important; } 
/* * jQuery UI CSS Framework * Copyright (c) 2009 AUTHORS.txt (https://jqueryui.com/about) * Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses. * To view and modify this theme, visit https://jqueryui.com/themeroller/ */ 

/* Component containers ----------------------------------*/ 
.ui-widget { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1.1em/*{fsDefault}*/; } .ui-widget input, 
.ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em; } 
.ui-widget-content { border: 1px solid #aaaaaa/*{borderColorContent}*/; background: #ffffff/*{bgColorContent}*//*{bgImgUrlContent}*/ 0/*{bgContentXPos}*/ 0/*{bgContentYPos}*//*{bgContentRepeat}*/; 
		    color: #222222/*{fcContent}*/; } .ui-widget-content a { color: #222222/*{fcContent}*/; } 
		    .ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; 
	background: #cccccc/*{bgColorHeader}*/ url(/tpl/default/assets/images/ui/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 0/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ 
	    repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; } .ui-widget-header a { color: #222222/*{fcHeader}*/; } /* Interaction states ----------------------------------*/ 
	    
	    .ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #d3d3d3/*{borderColorDefault}*/; 
    background: #e6e6e6/*{bgColorDefault}*/ url(/tpl/default/assets/images/ui/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 0/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/; 
    font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; outline: none; } .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555/*{fcDefault}*/; 
	      text-decoration: none; outline: none; } .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content 
    .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/; 
		     background: #dadada/*{bgColorHover}*/ url(/tpl/default/assets/images/ui/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 0/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/; 
		     font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; outline: none; } 
    .ui-state-hover a, .ui-state-hover a:hover { color: #212121/*{fcHover}*/; text-decoration: none; outline: none; } 
    .ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa/*{borderColorActive}*/; 
		      background: #ffffff/*{bgColorActive}*/ url(/tpl/default/assets/images/ui/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 0/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/; 
		      font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; outline: none; } 
    .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121/*{fcActive}*/; outline: none; text-decoration: none; } /* Interaction Cues ----------------------------------*/ 
    
    .ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #fcefa1/*{borderColorHighlight}*/; 
			background: #fbf9ee/*{bgColorHighlight}*/ url(/tpl/default/assets/images/ui/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 0/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; 
			color: #363636/*{fcHighlight}*/; } .ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636/*{fcHighlight}*/; } .ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a/*{borderColorError}*/; 
					 } 
			.ui-state-error a, .ui-widget-content .ui-state-error a { color: #363636/*{fcError}*/; } .ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a/*{fcError}*/; } 
			.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; } .ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; } .ui-priority-secondary, 
			.ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; } /* Icons ----------------------------------*/
			
			.ui-icon { width: 16px; height: 16px; background-image: url(/tpl/default/assets/images/ui/ui-icons_222222_256x240.png)/*{iconsContent}*/; } 
			.ui-widget-content .ui-icon {background-image: url(/tpl/default/assets/images/ui/ui-icons_222222_256x240.png)/*{iconsContent}*/; } 
			.ui-widget-header .ui-icon {background-image: url(/tpl/default/assets/images/ui/ui-icons_222222_256x240.png)/*{iconsHeader}*/; } 
			.ui-state-default .ui-icon { background-image: url(/tpl/default/assets/images/ui/ui-icons_222222_256x240.png)/*{iconsDefault}*/; } 
			.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(/tpl/default/assets/images/ui/ui-icons_454545_256x240.png)/*{iconsHover}*/; } 
			
			.ui-state-active .ui-icon {background-image: url(/tpl/default/assets/images/ui/ui-icons_454545_256x240.png)/*{iconsActive}*/; } .ui-state-highlight 
			.ui-icon {background-image: url(/tpl/default/assets/images/ui/ui-icons_454545_256x240.png)/*{iconsHighlight}*/; } .ui-state-error .ui-icon, .ui-state-error-text 
			.ui-icon {background-image: url(/tpl/default/assets/images/ui/ui-icons_454545_256x240.png)/*{iconsError}*/; } /* positioning */ 
			.ui-icon-carat-1-n { background-position: 0 0; } .ui-icon-carat-1-ne { background-position: -16px 0; } .ui-icon-carat-1-e { background-position: -32px 0; } .ui-icon-carat-1-se { background-position: -48px 0; } 
			.ui-icon-carat-1-s { background-position: -64px 0; } .ui-icon-carat-1-sw { background-position: -80px 0; } .ui-icon-carat-1-w { background-position: -96px 0; } 
			.ui-icon-carat-1-nw { background-position: -112px 0; } .ui-icon-carat-2-n-s { background-position: -128px 0; } .ui-icon-carat-2-e-w { background-position: -144px 0; } 
			.ui-icon-triangle-1-n { background-position: 0 -16px; } .ui-icon-triangle-1-ne { background-position: -16px -16px; } .ui-icon-triangle-1-e { background-position: -32px -16px; } 
			.ui-icon-triangle-1-se { background-position: -48px -16px; } .ui-icon-triangle-1-s { background-position: -64px -16px; } .ui-icon-triangle-1-sw { background-position: -80px -16px; } 
			.ui-icon-triangle-1-w { background-position: -96px -16px; } .ui-icon-triangle-1-nw { background-position: -112px -16px; } .ui-icon-triangle-2-n-s { background-position: -128px -16px; } 
			.ui-icon-triangle-2-e-w { background-position: -144px -16px; } .ui-icon-arrow-1-n { background-position: 0 -32px; } .ui-icon-arrow-1-ne { background-position: -16px -32px; } .ui-icon-arrow-1-e { background-position: -32px -32px; } .ui-icon-arrow-1-se { background-position: -48px -32px; } .ui-icon-arrow-1-s { background-position: -64px -32px; } .ui-icon-arrow-1-sw { background-position: -80px -32px; } .ui-icon-arrow-1-w { background-position: -96px -32px; } .ui-icon-arrow-1-nw { background-position: -112px -32px; } .ui-icon-arrow-2-n-s { background-position: -128px -32px; } .ui-icon-arrow-2-ne-sw { background-position: -144px -32px; } .ui-icon-arrow-2-e-w { background-position: -160px -32px; } .ui-icon-arrow-2-se-nw { background-position: -176px -32px; } .ui-icon-arrowstop-1-n { background-position: -192px -32px; } .ui-icon-arrowstop-1-e { background-position: -208px -32px; } .ui-icon-arrowstop-1-s { background-position: -224px -32px; } .ui-icon-arrowstop-1-w { background-position: -240px -32px; } .ui-icon-arrowthick-1-n { background-position: 0 -48px; } .ui-icon-arrowthick-1-ne { background-position: -16px -48px; } .ui-icon-arrowthick-1-e { background-position: -32px -48px; } .ui-icon-arrowthick-1-se { background-position: -48px -48px; } .ui-icon-arrowthick-1-s { background-position: -64px -48px; } .ui-icon-arrowthick-1-sw { background-position: -80px -48px; } .ui-icon-arrowthick-1-w { background-position: -96px -48px; } .ui-icon-arrowthick-1-nw { background-position: -112px -48px; } .ui-icon-arrowthick-2-n-s { background-position: -128px -48px; } .ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; } .ui-icon-arrowthick-2-e-w { background-position: -160px -48px; } .ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; } .ui-icon-arrowthickstop-1-n { background-position: -192px -48px; } .ui-icon-arrowthickstop-1-e { background-position: -208px -48px; } .ui-icon-arrowthickstop-1-s { background-position: -224px -48px; } .ui-icon-arrowthickstop-1-w { background-position: -240px -48px; } .ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; } .ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; } .ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; } .ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; } .ui-icon-arrowreturn-1-w { background-position: -64px -64px; } .ui-icon-arrowreturn-1-n { background-position: -80px -64px; } .ui-icon-arrowreturn-1-e { background-position: -96px -64px; } .ui-icon-arrowreturn-1-s { background-position: -112px -64px; } .ui-icon-arrowrefresh-1-w { background-position: -128px -64px; } .ui-icon-arrowrefresh-1-n { background-position: -144px -64px; } .ui-icon-arrowrefresh-1-e { background-position: -160px -64px; } .ui-icon-arrowrefresh-1-s { background-position: -176px -64px; } .ui-icon-arrow-4 { background-position: 0 -80px; } .ui-icon-arrow-4-diag { background-position: -16px -80px; } .ui-icon-extlink { background-position: -32px -80px; } .ui-icon-newwin { background-position: -48px -80px; } .ui-icon-refresh { background-position: -64px -80px; } .ui-icon-shuffle { background-position: -80px -80px; } .ui-icon-transfer-e-w { background-position: -96px -80px; } .ui-icon-transferthick-e-w { background-position: -112px -80px; } .ui-icon-folder-collapsed { background-position: 0 -96px; } .ui-icon-folder-open { background-position: -16px -96px; } .ui-icon-document { background-position: -32px -96px; } .ui-icon-document-b { background-position: -48px -96px; } .ui-icon-note { background-position: -64px -96px; } .ui-icon-mail-closed { background-position: -80px -96px; } .ui-icon-mail-open { background-position: -96px -96px; } .ui-icon-suitcase { background-position: -112px -96px; } .ui-icon-comment { background-position: -128px -96px; } .ui-icon-person { background-position: -144px -96px; } .ui-icon-print { background-position: -160px -96px; } .ui-icon-trash { background-position: -176px -96px; } .ui-icon-locked { background-position: -192px -96px; } .ui-icon-unlocked { background-position: -208px -96px; } .ui-icon-bookmark { background-position: -224px -96px; } .ui-icon-tag { background-position: -240px -96px; } .ui-icon-home { background-position: 0 -112px; } .ui-icon-flag { background-position: -16px -112px; } .ui-icon-calendar { background-position: -32px -112px; } .ui-icon-cart { background-position: -48px -112px; } .ui-icon-pencil { background-position: -64px -112px; } .ui-icon-clock { background-position: -80px -112px; } .ui-icon-disk { background-position: -96px -112px; } .ui-icon-calculator { background-position: -112px -112px; } .ui-icon-zoomin { background-position: -128px -112px; } .ui-icon-zoomout { background-position: -144px -112px; } .ui-icon-search { background-position: -160px -112px; } .ui-icon-wrench { background-position: -176px -112px; } .ui-icon-gear { background-position: -192px -112px; } .ui-icon-heart { background-position: -208px -112px; } .ui-icon-star { background-position: -224px -112px; } .ui-icon-link { background-position: -240px -112px; } .ui-icon-cancel { background-position: 0 -128px; } .ui-icon-plus { background-position: -16px -128px; } .ui-icon-plusthick { background-position: -32px -128px; } .ui-icon-minus { background-position: -48px -128px; } .ui-icon-minusthick { background-position: -64px -128px; } .ui-icon-close { background-position: -80px -128px; } .ui-icon-closethick { background-position: -96px -128px; } .ui-icon-key { background-position: -112px -128px; } .ui-icon-lightbulb { background-position: -128px -128px; } .ui-icon-scissors { background-position: -144px -128px; } .ui-icon-clipboard { background-position: -160px -128px; } .ui-icon-copy { background-position: -176px -128px; } .ui-icon-contact { background-position: -192px -128px; } .ui-icon-image { background-position: -208px -128px; } .ui-icon-video { background-position: -224px -128px; } .ui-icon-script { background-position: -240px -128px; } .ui-icon-alert { background-position: 0 -144px; } .ui-icon-info { background-position: -16px -144px; } .ui-icon-notice { background-position: -32px -144px; } .ui-icon-help { background-position: -48px -144px; } .ui-icon-check { background-position: -64px -144px; } .ui-icon-bullet { background-position: -80px -144px; } .ui-icon-radio-off { background-position: -96px -144px; } .ui-icon-radio-on { background-position: -112px -144px; } .ui-icon-pin-w { background-position: -128px -144px; } .ui-icon-pin-s { background-position: -144px -144px; } .ui-icon-play { background-position: 0 -160px; } .ui-icon-pause { background-position: -16px -160px; } .ui-icon-seek-next { background-position: -32px -160px; } .ui-icon-seek-prev { background-position: -48px -160px; } .ui-icon-seek-end { background-position: -64px -160px; } .ui-icon-seek-first { background-position: -80px -160px; } .ui-icon-stop { background-position: -96px -160px; } .ui-icon-eject { background-position: -112px -160px; } .ui-icon-volume-off { background-position: -128px -160px; } .ui-icon-volume-on { background-position: -144px -160px; } .ui-icon-power { background-position: 0 -176px; } .ui-icon-signal-diag { background-position: -16px -176px; } .ui-icon-signal { background-position: -32px -176px; } .ui-icon-battery-0 { background-position: -48px -176px; } .ui-icon-battery-1 { background-position: -64px -176px; } .ui-icon-battery-2 { background-position: -80px -176px; } .ui-icon-battery-3 { background-position: -96px -176px; } .ui-icon-circle-plus { background-position: 0 -192px; } .ui-icon-circle-minus { background-position: -16px -192px; } .ui-icon-circle-close { background-position: -32px -192px; } .ui-icon-circle-triangle-e { background-position: -48px -192px; } .ui-icon-circle-triangle-s { background-position: -64px -192px; } .ui-icon-circle-triangle-w { background-position: -80px -192px; } .ui-icon-circle-triangle-n { background-position: -96px -192px; } .ui-icon-circle-arrow-e { background-position: -112px -192px; } .ui-icon-circle-arrow-s { background-position: -128px -192px; } .ui-icon-circle-arrow-w { background-position: -144px -192px; } .ui-icon-circle-arrow-n { background-position: -160px -192px; } .ui-icon-circle-zoomin { background-position: -176px -192px; } .ui-icon-circle-zoomout { background-position: -192px -192px; } .ui-icon-circle-check { background-position: -208px -192px; } .ui-icon-circlesmall-plus { background-position: 0 -208px; } .ui-icon-circlesmall-minus { background-position: -16px -208px; } .ui-icon-circlesmall-close { background-position: -32px -208px; } .ui-icon-squaresmall-plus { background-position: -48px -208px; } .ui-icon-squaresmall-minus { background-position: -64px -208px; } .ui-icon-squaresmall-close { background-position: -80px -208px; } .ui-icon-grip-dotted-vertical { background-position: 0 -224px; } .ui-icon-grip-dotted-horizontal { background-position: -16px -224px; } .ui-icon-grip-solid-vertical { background-position: -32px -224px; } .ui-icon-grip-solid-horizontal { background-position: -48px -224px; } .ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; } .ui-icon-grip-diagonal-se { background-position: -80px -224px; } /* Misc visuals ----------------------------------*/ /* Corner radius */ .ui-corner-tl { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; } .ui-corner-tr { -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; } .ui-corner-bl { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; } .ui-corner-br { -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; } .ui-corner-top { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; } .ui-corner-bottom { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; } .ui-corner-right { -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; } .ui-corner-left { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; } .ui-corner-all { -moz-border-radius: 4px/*{cornerRadius}*/; -webkit-border-radius: 4px/*{cornerRadius}*/; } /* Overlays */ .ui-widget-overlay { background: #aaaaaa/*{bgColorOverlay}*/ none/*{bgImgUrlOverlay}*/ 0/*{bgOverlayXPos}*/ 0/*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityOverlay}*/; } .ui-widget-shadow { margin: -4px/*{offsetTopShadow}*/ 0 0 -4px/*{offsetLeftShadow}*/; padding: 4px/*{thicknessShadow}*/; background: #aaaaaa/*{bgColorShadow}*/ none/*{bgImgUrlShadow}*/ 0/*{bgShadowXPos}*/ 0/*{bgShadowYPos}*/ repeat-x/*{bgShadowRepeat}*/; opacity: .35;filter:Alpha(Opacity=35)/*{opacityShadow}*/; -moz-border-radius: 4px/*{cornerRadiusShadow}*/; -webkit-border-radius: 4px/*{cornerRadiusShadow}*/; }
/*================ END JQUERY UI STYLES ===================*/

/*======== OTHER =========*/


/*******************************/
	 .reset, .reset div,.reset span,.reset object,.reset iframe,.reset h1,.reset h2,.reset h3,.reset h4,.reset h5,.reset h6,.reset p,.reset blockquote,.reset pre,.reset abbr,.reset address,.reset cite,.reset code,.reset del,.reset dfn,.reset em,.reset img,.reset ins,.reset kbd,.reset q,.reset samp,.reset small,.reset strong,.reset sub,.reset sup,.reset var,.reset b,.reset i,.reset dl,.reset dt,.reset dd,.reset ol,.reset ul,.reset li,.reset fieldset, .reset form, .reset label, .reset legend, .reset table, .reset caption, .reset tbody, .reset tfoot, .reset thead, .reset tr, .reset th,.reset td{ margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; font-weight: inherit; font-style: inherit; font-size: 100%; line-height: 100%; color:#555555; background: transparent; font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;} 
.reset *:focus { outline: none; } .reset address { font-style: normal; } 
.reset a img {border: 0;} /** * For modern browsers * 1. The space content is one way to avoid an Opera bug when the * contenteditable attribute is included anywhere else in the document. * Otherwise it causes space to appear at the top and bottom of elements * that are clearfixed. * 2. The use of `table` rather than `block` is only necessary if using * `:before` to contain the top-margins of child elements. */ 
.clearfix:before,.clearfix:after { content: " "; /* 1 */ display: table; /* 2 */ } 
.clearfix:after { clear: both; } /** * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */ 
.clearfix { *zoom: 1; }   
.monsterform{background-color: transparent; width: 100%; font-size:16px;}

.monsterform *{ box-sizing: border-box; }
.monsterformpage0{ border: 1px solid #e3e3e3; border-radius: 10px; background-color: #f5f5f5; box-sizing: border-box; } 
.monsterform .step{padding: 15px 5px 10px 5px; background: transparent; width:100%;}
.monsterform .step-header { font-size: 112.5%;/*18px*/ font-weight: 700;
			    line-height: 21px; padding: 15px; 
	 text-align: left; width:100%; background-color: #999; color: #fff; 
	 margin-bottom: 0px; vertical-align:middle;
	 -moz-border-radius: 6px; /* FF1+ */ 
	 -webkit-border-radius: 6px; /* Saf3+, Chrome */ 
	border-radius: 6px; /* Opera 10.5, IE 9 */
	} 
.monsterform.step-header .fa-arrow-circle-o-right{margin-right: 6px;display:block;float:left;}
.monsterform .step-body { padding: 5px; width:100%;} 
.monsterform .step-body .row { width: 100%; } 
.monsterform .step-body .col-25 { width: 25%; float: left; clear:right;} 
.monsterform .step-body .col-33 { width: 33%; float: left; clear:right;} 
.monsterform .step-body .col-50 { width: 50%; float: left; clear:right;} 
.monsterform .step-body .col-66 { width: 66%; float: left; clear:right;}
.monsterform .step-body .col-100 { width: 100%; float: left; clear:right;}

label[data-monsterformtooltip]{cursor: pointer;}

.monsterform .inp .alpaca-controlfield-label{ font-weight:normal;
    margin: 0px 0px -2px 7px; display: block; padding-top: 5px; font-size: 80%/*from 16px*/; 
    font-family: Tahoma,Arial; color:#20625C;
    float:left; clear: right;
    height:100%;
    width:25%;
    text-align:right;
    vertical-align:middle;
}

.monsterform .inp .alpaca-controlfield-autocomplete-loader{
    display:block;
    float:left;
    clear:right;
    width: 16px;
    height: 16px;
    margin-top:6px;
}

.monsterform .inp input[type='button'] { cursor: pointer; }
.monsterform .inp input, 
.monsterform .inp select,
.monsterform .inp textarea{ 
    width:98%; margin: 0 1% 0 1%;     
    color: #000;
    display: block;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    box-sizing:border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #C6C6C6;
    
    padding: 4px 10px;
    vertical-align: middle;
    font-size: 0.95em;
    
    height: 35px;
    
    border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
    	      
} 
.monsterform .center{ margin-right: auto; margin-left: auto; float: none; margin-top:20px; } 

.monsterform input:focus, .monsterform textarea:focus {
    outline: none;
    border: 1px solid #058cf5;
}

/*tooltip styles*/
.monsterformhelper{
    background-color: #dee7ed; 
    color: #089800; 
    width:225px; 
    position:absolute; 
    display:none; 
    top:20px;
    border: 1px solid #0066cc;
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; 
    padding: 5px;
}
.monsterformTooltipError{
    background-color: white; 
    color: red; width:150px;
    padding:15px;
    font-size: 0.8em;
    border:1px solid #766666;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}

.alpaca-form {
    margin-top: 15px;
    margin-left: 15px;
}

.alpaca-form-buttons-container {
    clear: both;
    display: block;
    margin: 5px 0 5px 0;
}

.alpaca-form-buttons-container input {
    margin-right: 4px;
}

.alpaca-form-buttons-container input.alpaca-form-button:hover {
    background: #FFFFCC;
}


.alpaca-form-button{ padding: 10px; color: white; background: #777777;  min-width: 200px; font-weight: bold; font-size: 18px; border: 1px solid; border-radius: 15px; margin-bottom: 10px; cursor: pointer; } 
.alpaca-form-button-submit { background: #555555; }
.alpaca-form-buttons-container button{ 
    display: block;
    margin-right: auto; 
    margin-left: auto;
    
    font-family: Arial; font-weight: 600; 
    text-transform: none; font-size: 24px; 
    text-align: center; color: white; 
    text-shadow: -1px -1px #1E7E9A; background: #5db52a; 
    
    height: 67px; line-height: 67px; 
    border: 0; padding: 0; 
    
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; 
    cursor: pointer;    
}
.alpaca-form-button-submit[disabled=""]{ background:#999999; }
    

.alpaca-fieldset-item-container{ overflow:hidden;}
.alpaca-fieldset-item-container select{vertical-align:center;}


.alpaca-controlfield-container {
    display: block; 
    padding-top: 1px;
    padding-bottom: 1px;
    
    float:left;
    clear:right;
}

.alpaca-controlfield-select{
    /*width: 75%;*/
}

.alpaca-controlfield-radio-item{
    display:block;
    float:left;
    clear:right;
}

/*******************************/

/**
 *  Control Field
 */
.alpaca-controlfield {
    display: block;    
}


.alpaca-controlfield-helper {
    font-size: 0.75em;
    margin-top: 2px;
}

.alpaca-controlfield-message {
    font-size: 0.85em;
    display:none;/*duplicated in tooltip*/
}

.alpaca-controlfield-message-hidden {
    display: none;
}

/**
 * Form Controls
 */

.alpaca-form input[type="checkbox"], input[type="radio"] {
    border: 0px;
}

.alpaca-form input[type="file"] {
    border: none;
    box-shadow: none;
}

.alpaca-controlfield-file-custom-input {
    position: absolute;
    height: 100px;
    cursor: pointer;
    background: transparent;
    border: 0;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 0);
    z-index: 999;
}

/* BEGIN styles for Hidden Field */
.alpaca-controlfield-hidden {
    display: none;
}
/* END styles for Hidden Field */

/* BEGIN styles for Container Field (Fieldset) */

.alpaca-fieldset {
    padding: 4px;
    margin: 4px;
    overflow: auto;
    position: relative;
}

fieldset.alpaca-fieldset {    
    margin-top: 0.5em;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0.5em;
}

/* BEGIN styles for VIEW: DISPLAY */

div.alpaca-fieldset {
    display: block;
    border: none;
    margin: 1.5em 1em 1em 0px;
}
/* END styles for VIEW: DISPLAY */


.alpaca-field {
    /*height: 80px;*/
}

span.alpaca-field{overflow:hidden;width:100%;display: inline-block;}

.monsterform .inp .alpaca-field-valid input,
.monsterform .inp .alpaca-field-valid select
{border-color: green;}

.monsterform .inp .alpaca-field-invalid input,
.monsterform .inp .alpaca-field-invalid select
{border-color: red;}