
.alpaca-form-buttons-container {
    clear: both;
    display: block;
    margin: 5px 0 5px 0;
}

.alpaca-form-buttons-container input {
    margin-right: 4px;
}

.alpaca-form-buttons-container input.alpaca-form-button:hover {
    background: #FFFFCC;
}


.alpaca-form-button{ padding: 10px; color: white; background: #777777;  min-width: 200px; font-weight: bold; font-size: 18px; border: 1px solid; border-radius: 15px; margin-bottom: 10px; cursor: pointer; } 
.alpaca-form-button-submit { background: #555555; }
.alpaca-form-buttons-container button{ 
    display: block;
    margin-right: auto; 
    margin-left: auto;
    
    font-family: Arial; font-weight: 600; 
    text-transform: none; font-size: 24px; 
    text-align: center; color: white; 
    text-shadow: -1px -1px #1E7E9A; background: #5db52a; 
    
    height: 67px; line-height: 67px; 
    border: 0; padding: 0; 
    
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; 
    cursor: pointer;    
}
.alpaca-form-button-submit[disabled=""]{ background:#999999; }
  
.alpaca-controlfield-message {
    font-size: 0.85em;
    display:none;
}

.alpaca-controlfield-message-hidden {
    display: none;
}


 #t3Form .row:before, #t3Form .row:after {
    content: "";
    display: table;
}
#t3Form .row:after {
    clear: both;
}
#t3Form .row {
    margin-left: -15px;
    margin-right: -15px;
}
#t3Form select {
    margin: 0;
}
#t3Form {
    box-sizing: border-box;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    width: 95%;
}
#t3Form .panel-title {
    color: inherit;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}
#t3Form h3, #t3Form .h3 {
    font-size: 24px;
}
#t3Form h1, #t3Form .h1, #t3Form h2, #t3Form .h2, #t3Form h3, #t3Form .h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}
#t3Form h1, #t3Form h2, #t3Form h3, #t3Form h4, #t3Form h5, #t3Form h6, #t3Form .h1, #t3Form .h2, #t3Form .h3, #t3Form .h4, #t3Form .h5, #t3Form .h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
#t3Form input {
    box-sizing: border-box;
    margin: 0;
}
#t3Form .panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
#t3Form .panel-info {
    border-color: #bce8f1;
}
#t3Form .panel-info > .panel-heading {
}
#t3Form .panel-heading {
}
#t3Form .panel-heading {
    background-color: #556777;
    background-image: linear-gradient(to bottom, #6c8397 0%, #556777 100%);
    background-repeat: repeat-x;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #FFF;
    padding: 10px 15px;
}
#t3Form .panel-body {
    padding: 15px;
}
#t3Form .col-md-12 {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

#t3Form .col-md-10 {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 83.3333%;
}

#t3Form .col-md-11 {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 91.6666%;
}

#t3Form .col-md-1 {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 8.3333%;
}

#t3Form .col-md-8 {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 66.6667%;
}
#t3Form .col-md-6 {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}
#t3Form .col-md-3 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
}
#t3Form .col-md-2 {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 16.6667%;
}
#t3Form .col-md-4 {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3333%;
}
#t3Form label {
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    margin-bottom: 3px;
}
#t3Form .form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #000;
    display: block;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
#t3Form #consent_title {
    color: red;
}
#t3Form #agreements {
    font-size: 12px;
}
#t3Form .input-sm {
    border-radius: 3px;
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px;
}
#t3Form .form-group {
    margin-bottom: 10px;
}
#t3Form .form-control:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
#t3Form .input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}
#t3Form p {
    margin: 0 0 10px;
}
#t3Form .input-group-addon {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
}
#t3Form .input-group-addon, #t3Form .input-group-btn {
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}
#t3Form .input-group-addon, #t3Form .input-group-btn, #t3Form .input-group .form-control {
    display: table-cell;
}
#t3Form div.input-group.input-group-sm .input-group {
    border-collapse: separate;
}
#t3Form .input-group-addon:first-child {
    border-right: 0 none;
}
#t3Form .input-group-sm > .form-control, #t3Form .input-group-sm > .input-group-addon, #t3Form .input-group-sm > .input-group-btn > .btn {
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px;
}
#t3Form .input-group .form-control:first-child, #t3Form .input-group-addon:first-child, #t3Form .input-group-btn:first-child > .btn, #t3Form .input-group-btn:first-child > .btn-group > .btn, #t3Form .input-group-btn:first-child > .dropdown-toggle, #t3Form .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), #t3Form .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#t3Form .input-group .form-control:last-child, #t3Form .input-group-addon:last-child, .input-group-btn:last-child > .btn, #t3Form .input-group-btn:last-child > .btn-group > .btn, #t3Form .input-group-btn:last-child > .dropdown-toggle, #t3Form .input-group-btn:first-child > .btn:not(:first-child), #t3Form .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.text-center {
    text-align: center;
}
#t3Form .input-group-btn:last-child > .btn, #t3Form .input-group-btn:last-child > .btn-group {
    margin-left: -1px;
}
#t3Form .btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
#t3Form .btn {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
#t3Form .btn {
    background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    background-repeat: repeat-x;
    border-color: #ccc;
    text-shadow: 0 1px 0 #fff;
}
#t3Form .btn-block {
    border-radius: 6px;
    display: block;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 100%;
}
#t3Form .btn-primary {
    background-color: #428bca;
    background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
    background-repeat: repeat-x;
    border-color: #2b669a;
    color: #fff;
}

.alpaca-form-button{ box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); 
    background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    background-repeat: repeat-x;
    border-color: #ccc;
    text-shadow: 0 1px 0 #fff;
} 
.alpaca-form-button-submit { background-color: #428bca;
    background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
    background-repeat: repeat-x;
    border-color: #2b669a;
    color: #fff; }

#geosearchPopupContainer {
    background-color: #eeeeee;
    border: 1px solid #000;
    color: black;
    display: none;
    font-size: 13px;
    left: 0;
    max-height: 150px;
    max-width: 450px;
    min-height: 50px;
    min-width: 270px;
    overflow: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 0;
    z-index: 20000;
}
div.t3flPostToServerAnimation {
    text-align: center;
}
div.t3flPostToServerAnimation div.t3flAnimationTop {
    font-size: 1.1em;
    line-height: 150%;
}
div.t3flPostToServerAnimation div.t3flAnimationDescription {
    font-size: 0.9em;
    line-height: 150%;
    opacity: 0.9;
}
div.t3flPostToServerAnimation div.t3flAnimationImg {
    padding: 20px 0 10px;
}
div.t3flPostToServerAnimation div.t3flAnimationIMPORTANT {
    color: #d00;
    font-size: 1.8em;
    line-height: 200%;
}


#t3Form .alpaca-field-valid input,
#t3Form .alpaca-field-valid select
{background: #ebfbe4;}

#t3Form .alpaca-field-invalid input,
#t3Form .alpaca-field-invalid select
{background: #fbe4e4;}

.monsterform span .input-group-addon{
    width:80px;
    display:block;
    float:left;
    clear:right;	
}

#t3Form .row {
    margin-top: 15px;
}

#t3Form .panel-body {
    padding-top: 0;
    margin-top: -5px;
}

#t3Form .panel-info {
    background: #F9F9F9;
    border-color: #CCC;
}

#t3Form label.alpaca-controlfield-label{
    text-align: left;
    font-size: 90%;
    opacity: 0.95;
    color:#556777;
}

#agreements {
    color:#556777;
}







/*================  BEGIN T3FORM  =================*/

#ui-datepicker-div { display: none; } 
.noTitleStuff .ui-dialog-titlebar {display:none} 

/*post to server popup*/
div.t3flPostToServerAnimation{ text-align:center; } 
div.t3flPostToServerAnimation 
div.t3flAnimationTop{ font-size:1.1em; line-height:150%; } 
div.t3flPostToServerAnimation 
div.t3flAnimationDescription{ font-size:0.9em; line-height:150%; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9; } 
div.t3flPostToServerAnimation 
div.t3flAnimationImg{ padding:20px 0px 10px 0px; } 
div.t3flPostToServerAnimation 
div.t3flAnimationIMPORTANT{ font-size:1.8em; color:#D00; line-height:200%; } 
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.clearfix { display: inline-block; } 
html[xmlns] .clearfix { display: block; } 
* html .clearfix { height: 1%; } 

/*""I agree..."" text*/
a.t3flHelp div.t3flCheckExapmle{ position:absolute; } 
a.t3flHelp div.t3flCheckExapmle 
img{ position:static; border:0px; margin-left:0px; } 
a.t3flHelp div.t3flCheckExapmle div{ display:block; position:relative; text-align:center; top:-200px; left:0px; border:#06C solid 1px; background:#DAE4EB; width:210px; 
		      white-space:normal; font-weight:normal; font-size:0.9em; font-family:Tahoma, Geneva, sans-serif; height:175px; padding:5px; text-shadow:0px 0px 3px #FFF; 
		      background-color: #DAE4EB; background-color: rgba(218, 228, 235, 0.9); /* FF3+, Saf3+, Opera 10.10+, Chrome */ 
		      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBDAE4EB',endColorstr='#BBDAE4EB'); /* IE6,IE7 */ 
		      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBDAE4EB',endColorstr='#BBDAE4EB'); /* IE8 */ 
		      -moz-border-radius: 7px 7px 12px 12px; /* FF1+ */ -webkit-border-radius: 7px 12px 12px 7px; /* Saf3+, Chrome */ 
		      border-radius: 7px 12px 12px 7px; /* Opera 10.5, IE 9 */ } 
a.t3flHelp div.t3flCheckExapmle div input{ width:auto; font-size:0.9em; } 
#consent_title{ display: inline-block; border-radius: 10px; } #consent_title.error{ background: #FF8080; }

/*================ END T3FORM ================ */




.monsterformTooltipError{
    background-color: #FFF;
    color: #F00;
    width: 150px;
    padding: 15px;
    font-size: 0.8em;
    border: 1px solid #766666;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.alpaca-fieldset-item-container{
    position:relative;/*to display loading indicators and such*/
}

.alpaca-controlfield-autocomplete-loader{
    position: absolute;
    display:block;
    right:5px;
    bottom:1px;    
}

.loading-gif-background{
    width: 100%;height:100%;position: absolute;
    background:black;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";

    /* IE 5-7 */
    filter: alpha(opacity=40);

    /* Netscape */
    -moz-opacity: 0.4;

    /* Safari 1.x */
    -khtml-opacity: 0.4;

    /* Good browsers */
    opacity: 0.4;
}